<% if user_signed_in? %>
  <div class="row">
    <div class="col-xs-2">
      <%= link_to "Click me!", clicks_create_path, class: "btn btn-primary btn-lg", id: "button", role: "button", remote: true %>
    </div>

    <%= render :partial => "chart" %>
  </div>

<% else %>
<!-- Sign In/ Sign Up Panels -->
  <div class="col-xs-8 col-xs-offset-2">
    <!-- Tab titles -->
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#sign_in" aria-controls="sign_in" role="tab" data-toggle="tab">Sign In</a></li>
      <li role="presentation"><a href="#sign_up" aria-controls="sign_up" role="tab" data-toggle="tab">Sign Up</a></li>
    </ul>

    <!-- Tab contents -->
    <div class="tab-content">
      <!-- Sign In Tab -->
      <div role="tabpanel" class="tab-pane active" id="sign_in">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
          <% end -%>
        <% end %>
      </div>
      <!-- Sign Up tab -->
      <div role="tabpanel" class="tab-pane" id="sign_up">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
        <% end %>
      </div>
    </div>
<% end %>